@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root{
    --red: #e27d60;
    --blue: #85dbcb;
    --orange: #e8a87c;
    --green: #41b3a3;
    --purple: #c38d9e;
}